<!doctype html>
  <body>
    <div style="display: flex;">
    <span>
      <h2>The Data Access Tool Metrics</h2>

      <p>
        Total number of requests handled: {{ total_num_requests }}.
      </p>

      <h3>URI-Specific metrics</h3>
      <p>
        {% for uri, uri_metrics in metrics_by_uri.items() %}
            <h4><u>{{ uri }}</u></h4>
                <p>Unique IPs: {{ uri_metrics["ips"] | unique | list | length }}<p>
                <p>Number of requests by status:</p>
                <ul>
                  {% for status_code, count in uri_metrics["count"].items() %}
                      <li>{{ status_code }}: {{ count }}</li>
                  {% endfor %}
                </ul>
        {% endfor %}
      </p>

      <h3>get-links specific metrics (indicates interaction with EDD)</h3>
      <p>
        {% for shortname_version, metrics in get_links_metrics.items() %}
            <h4><u>{{ shortname_version }}</u></h4>
                <p>Number of requests by status:</p>
                <ul>
                  {% for status_code, count in metrics.items() %}
                      <li>{{ status_code }}: {{ count }}</li>
                  {% endfor %}
        {% endfor %}
      </p>

    <div style="display: flex;">
  </body>
</html>
