<!doctype html>
  <body>
    <div style="display: flex;">
    <span style="width: 50%;">
      <h2>The Data Access Tool Backend is responsive.</h2>

      <p>
        Request generated at {{ request_time }}.
      </p>

      <p>
        If the Data Access Tool Backend is not working as expected, it could be
        due to issues with CMR or Earthdata Login: 
        <a href="https://status.earthdata.nasa.gov/" target="_blank"
        > https://status.earthdata.nasa.gov/</a>.
      </p>

    <div style="display: flex;">
  </body>
</html>
