<!doctype html>
  <body>
    <div style="display: flex;">
    <span style="width: 50%;">
      <h2>{{ status_code }}: {{ status_message}}.</h2>

      <p>
        Failed to authenticate with Earthdata Login.
      </p>

      <p>
        This could be due to your browser not allowing the use of Cookies. Make
        sure that Cookies are enabled and try logging into Earthdata Login via
        the Earthdata Download application again.
      </p>

      <p>
        If the problem persists, please reach out
        to <a href="mailto:nsidc@nsidc.org">nsidc@nsidc.org</a>.
      </p>

    <div style="display: flex;">
  </body>
</html>
