<!doctype html>
<html>
  <head>
    <script>
      window.open("{{ redirect_uri }}", "_self");
    </script>
  </head>
  <body>
    <div style="display: flex;">
    <span style="width: 50%;">
      <h2>Opening Earthdata Download to download your files...</h2>

      <p>
        Click <strong>Open Earthdata Download </strong>
        in the dialog presented by your browser.
        If the dialog does not open automatically, click
        <strong> Open Earthdata Download </strong> below.
        You can close this window once your download begins.
      </p>

      <p>
        Don’t have Earthdata Download installed? Go To the
        <a href="https://nasa.github.io/earthdata-download/" target="blank"
        > Downloads Page</a>.
      </p>

      <p><a href="{{ redirect_uri }}">Open Earthdata Download</a></p>

    <div style="display: flex;">
  </body>
</html>
