<!doctype html>
  <body>
    <div style="display: flex;">
    <span style="width: 50%;">
      <h2>{{ status_code }}: {{ status_message}}.</h2>

      <p>
        The Data Access Tool encountered an unexpected error.
      </p>

      <p>
        This could be due to an intermittent issue. Please try again.
      </p>

      <p>
        If the problem persists, please reach out
        to <a href="mailto:nsidc@nsidc.org">nsidc@nsidc.org</a>.
      </p>

    <div style="display: flex;">
  </body>
</html>
